{{#if this}}
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Created At</th>
        <th>Stargazers</th>
        <th>Language</th>
        <th>Link</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.fullName}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.stargazersCount}}</td>
        <td>{{this.language}}</td>
        <td><a href="{{this.htmlUrl}}">Access</a></td>
        <td><button class="btn btn-primary saveButton" data-id="{{this.id}}">Save</button></td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
<h2>No Results</h2>
{{/if}}
